{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Videos
{% endblock %}

 {% block content %}

              <!-- Direct Video Gallery Section -->
  <section class="video-gallery">
    <div class="container">
        <h2 class="section-title">Uploaded Video Gallery</h2>
        {% for video in directVideo %}
        <div class="video">
        <p><h3><b>Title: </b> {{ video.title }}</h3></p>
            <video width="560" height="315" controls>
                <source src="{{ video.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p><b>Description: </b> {{ video.description }}</p>
        </div>
        {% empty %}
        <p>No videos available.</p>
        {% endfor %}
    </div>
</section>

    <!-- Youtube Video Gallery Section -->
   <section class="video-gallery">
    <div class="container">
        <h2 class="section-title">YouTube Gallery</h2>
        {% for video in vid %}
            <div class="video">
                <h3><b>Title: </b> {{ video.title }}</h3> <!-- Use heading tags for titles -->
                <iframe
                    width="560"
                    height="315"
                    src="{{ video.url }}"
                    title="{{ video.title }}"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
                </iframe>
                <p><b>Description: </b> {{ video.desc }}</p>
            </div>
        {% empty %}
            <p>No videos available.</p>
        {% endfor %}
    </div>
</section>



{% endblock %}
